<div class="hero">
	<div class="hero-inner">
		<%= image_tag "logo_symbol.png"%>
		<div class="hero-copy">
			<h1>Curated Bookshelf for Rubyist</h1>
			<p>From the expert to the novice, find the best Ruby books and start to sharpen your skills.</p>
		</div>
		<%= link_to "Start Exploring", lists_path, class: "button"%>
	</div>
</div>
