<% # Markup for users Review feature %>
<div class="comment">
  <h2>Reviews</h2>
</div>
<% if review_policy.authorized_for_review? %>
  <%= render partial: "reviews/form", locals: { book: book, review: Review.new } %>
<% end %>
<%= render book.reviews %>
