<%= render "books/filter", filter: filter %>

<% if books.any? %>
  <ul class="books">
    <% books.each do |book| %>
      <li><%= link_to book.title, book %></li>
    <% end %>
  </ul>
<% else %>
  <%= t(".no_books_yet") %>
<% end %>
