.authors-index,
.lists-index {
  $base-border-radius: 3px !default;
  $base-spacing: 1em !default;
  $inline-books-image-width: 150px;
  $inline-books-color: $base-font-color;

  .authors,
  .lists {
    width: 100%;

    li {
      border-bottom: 1px solid transparentize($inline-books-color, 0.9);
      padding-bottom: 0.5em;
    }
  }

  ul.books {
    width: 100%;

    li {
      display: inline-flex;
      border-bottom: 0;
      margin: 0 10px;
    }

    > img {
      border-radius: $base-border-radius;
      height: auto;
      max-width: none;
      width: $inline-books-image-width;
    }

    a {
      height: auto;
      width: $inline-books-image-width;
      display: block;
      border-bottom: 3px solid $white;
    }

    a:hover {
      border-bottom: 3px solid $bookshelf-red-2;
    }

  }

  h2 {
    font-size: 1.4em;

    a {
      color: $bookshelf-red-2;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
