body {
  background-color: $white;
  border-top: none;
  display: flex;
  flex-direction: column;
  font-family: $base-font-family;
  line-height: 20px;
  margin: 0 auto;
  min-height: 100vh;
  min-width: 320px;
}

.content {
  @include outer-container;
  max-width: $max-width;
  flex: 1;
  padding: 4em $side-padding 6em;
  width: 100%;

  h1 {
    font-size: 2.4em;
  }

  ul, ol {
    padding: 0;
  }

  li {
    margin-top: 1rem;

    &:first-child {
      margin-top: 0;
    }
  }

  .box {
    background: lighten($light-gray, 11%);
    border-radius: $base-border-radius;
    box-shadow: inset 0 0 1px $light-gray, 0 2px 4px darken($base-background-color, 10%);
    padding: 3em;
  }

  .author {
    p {
      margin-bottom: 40px;
    }
  }

}

.registrations .box,
.sessions .box {
  margin: 0 auto;
  width: 40%;

  input[type="submit"] {
    margin: 10px 0 20px;
    width: 100%;
  }
}

@mixin dashboard-large {
  @media screen and (min-width: 1050px) {
    @content;
  }
}

@mixin dashboard-medium {
  @media screen and (min-width: 800px) {
    @content;
  }
}

@mixin dashboard-small-only {
  @media screen and (max-width: 800px) {
    @content;
  }
}
