<div class="comment">
  <div class="comment-image">
    <%= gravatar_image_tag(review.reviewer_email, :alt => review.reviewer_email) %>
  </div>
  <div class="comment-content">
    <h1><%= review.reviewer_email %></h1>
    <%= simple_format review.body %>
    <span><%= time_ago_in_words review.created_at %> ago</span>
  </div>
</div>
